.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .card-1 {
    background-image: none;
    background-color: #ffffff;
  }
}
.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}
.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.cardContainer {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  border-radius: 10px;
}
.description {
  padding: 20px;
  padding-left: 20px;
}

.heading {
  color: #326a9d;
  font-family: 'Roboto';
  font-size: 35px;
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 25px;
  }
}
.para {
  color: #64748b;
  font-size: 15px;
  font-family: 'Roboto';
}
.btn {
  height: 38px;
  width: 100px;
  border-width: 2px;
  border-color: #326a9d;
  color: #326a9d;
  font-family: 'Roboto';
  font-weight: 800;
  border-radius: 5px;
  background-color: transparent;
}
